button{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

h1 {
    font-family: monospace;
    font-size: 50px;
}

#bookList {
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: 1fr;
}

#newContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: monospace;
}

#newBookButton {
    position: fixed;
    bottom: 50px;
    width: 60%;
    height: 60px;
    font-size: 15px;
    border: solid;
    border-radius: 10px;
    border-color:rgb(27, 214, 27);
}

#newBookButton:hover {
    animation-name: turnGreen;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

#newBookForm {
    position: fixed;
    bottom: 50px;
    width: 60%;
    height: 60px;
    font-size: 15px;
    border: solid;
    border-radius: 10px;
    border-color:rgb(27, 214, 27);
    box-sizing: border-box;
}

#newBookInput {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    border-radius: 6px;
    text-align: center;
}

@keyframes turnGreen {
    100% {
        background-color: rgb(27, 214, 27);
    }
}

@keyframes turnRed {
    100% {
        background-color: red;
    }
}

@keyframes turnBlack {
    100% {
        background-color: black;
    }
}

#sample {
    border-top: solid;
    border-bottom: solid;
    padding-top: 8px;
    padding-bottom: 8px
}

.indivBook {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: monospace;
    font-size: 20px;
    width: 100%;
    border-bottom: dashed;
    align-content: center;
}

.deleteButton {
    font-size: 15px;
    border: 2px solid red;
    background-color: white;
    color: red;
    width: 100px;
    border-radius: 5px;
}

.deleteButton:hover {
    animation-name: turnRed;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    color: white;
    cursor: pointer;
}

.statusButton {
    font-size: 15px;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 100px;
}

.statusButton:hover {
    animation-name: turnBlack;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    cursor: pointer;
    color: white;
}